<div class="row" id="searchbar">
  <h3>设备宽带图</h3>
  <div class="row">
    <!-- <div class="col-md-2">
      <%= label_tag(:ip, "主机名(IP):") %> <%= text_field_tag(:ip) %>
    </div> -->
    <div class="col-md-2">
      <%= label_tag(:platform, "设备组:") %>
      <select class="form-control" v-model="selected_platform" options="platforms">
        <option v-for="option in platforms" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <%= label_tag(:isp, "ISP:") %>
      <select class="form-control" v-model="selected_isp" options="isp">
        <option v-for="option in isp" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <%= label_tag(:province, "省份:") %>
      <select class="form-control" v-model="selected_province" options="provinces">
        <option v-for="option in provinces" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
    <!-- <div class="col-md-2">
      <%= label_tag(:cnode, "节点:") %>
      <select class="form-control" v-model="selected_node" options="nodes">
        <option v-for="option in nodes" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div> -->
    <div class="col-md-2">
      <%= label_tag(:datacenter, "机房:") %>
      <select class="form-control" v-model="selected_datacenter" options="datacenter">
        <option v-for="option in datacenter" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
    <!-- <div class="col-md-2">
      <%= label_tag(:adman, "负责人:") %> <%= text_field_tag(:adman) %>
    </div> -->
  </div>
  <div class="row top-buffer">
    <div class="col-md-2">
      <span>预置:</span>
      <span> <custom-timepicker></custom-timepicker> </span>
    </div>
    <div class="col-md-2">
      <span>從:</span>
      <input type="text" class="pickdate_start" v-on:click="customtime()">
    </div>
    <div class="col-md-2">
      <span>至:</span>
      <input type="text" class="pickdate_end" v-on:click="customtime()">
    </div>
    <div class="col-md-2">
      <span class="query-bar">
        <button type="submit" class="btn btn-default" v-on:click="query()">查询</button>
      </span>
    </div>
    <div class="col-md-2 alert alert-danger" v-if="err_message != 0" >
      {{err_message}}
    </div>
  </div>
  <div class="row" v-if="machines.length != 0">
    <div class="col-md-8" style="padding-top: 10px; padding-bottom: 5px;">
      <button class="btn btn-info s1" v-on:click="sort('net.if.out.bits/iface=eth_all', 'desc', 's1')">out 大至小</button>
      <button class="btn btn-info s2" v-on:click="sort('net.if.out.bits/iface=eth_all', 'aesc', 's2')">out 小至大</button>
      <button class="btn btn-info s3" v-on:click="sort('net.if.in.bits/iface=eth_all', 'desc', 's3')">in 大至小</button>
      <button class="btn btn-info s4" v-on:click="sort('net.if.in.bits/iface=eth_all', 'aesc', 's4')">in 小至大</button>
    </div>
  </div>
  <div v-if="machines.length != 0">
    共 {{machines.length}} 台
  </div>
  <div class="row">
    <hr>
  </div>
  <div class="row small-up-1 medium-up-2 large-up-2">
    <img src="/hourglass.svg" style="margin-top:10px" v-if="loading">
    <div v-for="host in machines" class="col-md-6 panel panel-success">
      <div class="row panel-heading">
        <div class="col-sm-6"> {{host}} [{{selected_platform}}]</div>
        <netinfo-grid  v-bind:hostname="host"></netinfo-grid>
      </div>
      <div class=panel-body>
        <graph-grid v-bind:hostname="host">
        </graph-grid>
      </div>
    </div>
  </div>
  <div>
    <span class="glyphicon glyphicon-triangle-top" id="back-to-top">Top</span>
  </div>
</div>
