<!DOCTYPE html>
<html>
  <head>
    <title>Fman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
              <li>
                <img src="/fav32.png"/>
              </li>
              <li>
                <a class="navbar-brand" href="/">FSM_Dev</a>
              </li>
            </ul>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "设备带宽图", :page_info %></li>
              <li><%= link_to "设备ng图", :ng_info %></li>
              <!-- <li><a href="#contact">交换机带宽图</a></li> -->
            </ul>
            <% if cookies[:cname] %>
              <ul class="nav navbar-nav navbar-right">
                <li class="active" alt="logout"><a href="/auth/logout"><%= cookies[:cname] %>「登出」</a></li>
              </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
     </nav>
    <div class="container" style="top: 50px;position: relative;">
      <%= yield %>
    </div>
  </body>
</html>
